
<%- include('./partials/nav') %>

<h1>Edit <%=bookingToEdit.name%></h1>
<form action="/bookings/<%=bookingToEdit._id%>?_method=PUT" method="POST">
<label>Name:</label> 
<input type="text" name="name" required value="<%=bookingToEdit.name %>"/>
<br/>
<label>Email:</label>
<input type="email" name="email" required value="<%=bookingToEdit.email%>"/>
<br/>
<label>Phone</label>
<input type="number" name="phoneNumber" required value ="<%=bookingToEdit.phoneNumber %>"/>
<br/>
<label>Date</label> 
<input type="date" name="date" required value="<%=bookingToEdit.date %>" />
<br/>
<label>Package: </label>
<select name="reservationPackage">
        <option value="Weeding-photography">Wedding Photography Only </option>
        <option value="Weeding-photography-videography">Wedding Photography & Videography </option>
</select>
<br/>

<button type="submit">Edit Fruit</button>
<script src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-af7b5482-59f3-4d27-9cce-ad2b32f8c85e" data-elfsight-app-lazy></div>

</form>
